@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
  margin: 10px;
  padding: 0;
  
}

img {
  display: block;
  max-width: 100%;
}


.container{
  margin-bottom: 38px;
  padding: 0 16px;
  min-width: 100%;
  
}



body{
  background: url(background.jpg),no-repeat top center;
  background-attachment:fixed;
  background-size: cover;
  display:grid ;
  align-items:center;
  justify-items:center;
  height: 100%;
  color: #FFFFFF;
  gap:70px;
}
.box{
  background: #42445A;
  padding: 2rem;
  box-shadow: 2px  2px  16px rgba(0, 0, 0, 0.16);
  border-radius: 63px;
  text-align: center;
  border-top: 4rem;
  column-gap: center;
  box-sizing: border-box;
  max-height: 100%;
  max-width:680px;
  margin: 0 auto;
}
.foto {
  border-radius: 100%;
  margin:   1rem auto;
  height: 280px;
  width: 280px;
}

.titulo {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  font-weight:normal;
}

.redessociais {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-right:20px;
}

.redessociais li{
  list-style: none;
  width:90px;
  margin-right:18px;
}


.profile box p{
  margin-top:18rem;
  margin-bottom:4rem;
  font-family: 'Noto Serif Display', serif;
  font-size:18px;}



.box-2 ol{
  list-style: none;
}

.conteudo-box-2 {
  font-size: 18px;
  margin-top:3rem;
  margin-bottom:4rem;
}

.box-2-titulo{
  font-family: 'Lobster', cursive;
}

.box-2 {
  background: #42445A;
  padding: 2rem;
  box-shadow: 2px  2px  16px rgba(0, 0, 0, 0.16);
  border-radius: 63px;
  text-align: center;
  border-top: 4rem;
  column-gap: center;
  box-sizing: border-box;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 45px;
}


.copyright {
  font-size: 14px;
  color: #CACEF6;
  text-shadow: 2px 2px 16px (#000000);
  margin:4rem;
}


@media (min-width:680){
  
  
.container{
  margin-bottom: 50px;
  width: 100%;  
}
  
  
  
.box{
  margin: 2rem;
  border-radius: 50px;
  max-width: 100%;
}

.titulo{
  font-size: 85px

  
}

.foto{
  width:335px ;
  height:335px ;
}

.profile box p{
  margin-top:18rem;
  margin-bottom:4rem;
  font-size:35px;
  
}

.box-2-titulo{
  font-size: 16px;
  
}  


.conteudo-box-2{
  font-size: 6px;
  margin-top:3rem;
  margin-bottom:2rem;
}


.copyright {
  font-size: 14px;
  color: #CACEF6;
  margin:2rem;
}


}
  
  
